@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$blue: #007bff;
$grey: #f8f9fa;
$font1: loto;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: $font1;
}

body {
  background: black;
}

header {
  max-width: 1000px;
  padding: 7px;
  background: $grey;
  font-size: 0.9em;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 5px;
  background: $blue;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: $grey;
  color: $blue;
}

// 

h1 {
  width: 550px;
  color: white;
  display: flex;
  justify-content: center;;
  align-items: center;
}

.sea {
  height: 370px;
  max-width: 1000px;
  background: url(../content/bg-masthead.jpg);
  margin: auto;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;;
  align-items: center;
  flex-direction: column;
}

.enter {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

input {
  width: 300px;
  padding: 7px;
  border-radius: 4px;
}

.buttom1 {
  padding: 7px;
  width: 100px;
}

// 

div.three {
  display: flex;
  justify-content: space-evenly;
}

.three {
  height: 300px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background: $grey;
  display: flex;
  justify-items: center;
  align-items: center;
}

i {
  color: $blue;
  font-size: xx-large;
}

.logo {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

div.logo p {
  text-align: center;
  font-size: small;
}

// 

.container {
  max-width: 1000px;
  background:white;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
}

img {
  width: 500px;
  height: 100%;
}

.image {
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 60px;
  padding-left: 60px;
}

.container:nth-child(odd) {
  display: flex;
  flex-direction: row;
}

// 

div.saying {
  display: flex;
  justify-content: center;
}

.saying {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 30px;
  background: $grey;
  display: flex;
  justify-items: center;
  align-items: flex-end;
}

.people {
  height: 270px;
  width: 100%;
  max-width: 1000px;
  padding-bottom: 60px;
  margin: auto;
  background: $grey;
  display: flex;
  justify-items: center;
  align-items: flex-end;
}

div.people {
  display: flex;
  justify-content: space-evenly;
}

.photo img {
  width: 120px;
  border-radius: 100%;
}

.photo {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

// 

.sea1 {
  height: 250px;
  max-width: 1000px;
  background: url(../content/bg-masthead.jpg);
  margin: auto;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;;
  align-items: center;
  flex-direction: column;
}

// 

nav {
  height: 150px;
  max-width: 1000px;
  background: $grey;
  font-size: x-small;
  padding-top: 60px;
  margin: auto;
  display: flex;
  justify-content: space-around;

}

.social {
  display: flex;
  gap: 30px;
}

.links p {
  margin-top: 10px;
  font-size: xx-small;
}

.links a {
  text-decoration: none;
  color: $blue;
  margin: 6px;
}

span {
  color: black;
}

@media (max-width: 768px) {
  header {
    width: 340px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    transition: 2s;
  }

  .sea {
    width: 340px;
  }

  h1 {
    width: 300px;
    text-align: center;
  }
  .enter {
    flex-direction: column;
  }

  input {
    width: 300px;
  }
  
  .buttom1 {
    padding: 7px;
    width: 300px;
  }

  div.three {
    flex-direction: column;
  }

  .three {
    height: 500px;
    width: 340px;
  }

  .container {
    width: 340px;
    height: 500px;
    flex-direction: column;
  }

  .container:nth-child(odd) {
    flex-direction: column;
  }

  img {
    width: 340px;
  }

  .image {
    width: 340px;
    justify-content: center;
    align-items: center;
  }

  .text {
    width: 250px;
    margin-top: 40px;
  }

  .saying {
    width: 340px;
  }

  .people {
    height: 750px;
    width: 340px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .sea1 {
    width: 340px;
  }

  nav {
    width: 340px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .links p {
    text-align: center;
  }
}